<p id="notice"><%= notice %></p>

<h1>Listing Macro Cycles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Notes</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Volume</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @macros.each do |macro| %>
      <tr>
        <td><%= macro.name %></td>
        <td><%= macro.notes %></td>
        <td><%= macro.startDate %></td>
        <td><%= macro.endDate %></td>
        <td><%= macro.volume %></td>
        <td><%= link_to 'Show', macro %></td>
        <td><%= link_to 'Edit', edit_macro_path(macro) %></td>
        <td><%= link_to 'Destroy', macro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Macro cycle', new_macro_path %>
