<p id="notice"><%= notice %></p>

<p>
  <strong>Meso cycle:</strong>
  <%= @micro.meso_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @micro.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @micro.notes %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @micro.volume %>
</p>

<%= link_to 'Edit', edit_micro_path(@micro) %> |
<%= link_to 'Back', micros_path %>
