      <tr>
        <td><%= "- - " * cycle.depth + cycle.name %></td>
        <td><%= cycle.notes %></td>
        <td><%= cycle.start_date %></td>
        <td><%= cycle.end_date %></td>
        <td class="volume"><%= number_with_precision(cycle.volume, precision: 2) %></td>
        <td><%= link_to 'Show', cycle %></td>
        <td><%= link_to 'Edit', edit_cycle_path(cycle) %></td>
        <td><%= link_to 'New Child', new_cycle_path(:parent_id => cycle) %></td>
        <td><%= link_to 'Destroy', cycle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
