<%= nested_form_for(@move) do |f| %>
	<% if @move.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@move.errors.count, "error") %> prohibited this move from being saved:</h2>
		  <ul>
		  <% @move.errors.full_messages.each do |message| %>
		    <li><%= message %></li>
		  <% end %>
		  </ul>
		</div>
	<% end %>

	<table width="80%">
		<tr>
			<td colspan="2">
			  <div class="field">
			    <%= f.label :type %><br>
			    <%= select_tag(:type, options_for_select(%w(Macro Meso Micro Nano), @move.type), disabled: true) %>
			  </div>
			</td>
			<td colspan="2">
			  <div class="field">
			    <%= f.label :name %><br>
			    <%= f.text_field :name, :size => 40, disabled: @disabled_mode %>
			  </div>
			</td>
		</tr>
		<tr>
			<td colspan="4">	
			  <div class="field">
			    <%= f.label :notes %><br>
			    <%= f.text_area :notes, :cols => 80, :rows => 3, disabled: @disabled_mode %>  
			  </div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			  <div class="field">
			    <%= f.label :start_date %><br>
			    <%= f.date_select :start_date, disabled: @disabled_mode %>
			  </div>
			</td>
			<td colspan="2">				
			  <% if @move.type != "Nano" %>
				  <div class="field">
				    <%= f.label :end_date %><br>
				    <%= f.date_select :end_date, disabled: @disabled_mode %>
				  </div>
			  <% end %>
			</td>
	  	</tr>
	  	<tr>
			<td colspan="2">  		
			  <div class="field">
			    <%= f.label :distance %><br>
			    <%= f.text_field :distance, disabled: @disabled_mode %>
			  </div>
			<td colspan="2">
			  <div class="field">
			    <%= f.label :duration %><br>
			    <%= f.time_select :duration, disabled: @disabled_mode %>
			  </div>
			</td>
	  	</tr>
	</table>
	<% if @move.type == "Nano" %>
	  	<table width="80%">
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Notes</th>
		      <th>Times</th>
		      <th>Distance</th>
		      <th>Duration</th>
		      <th>Pace</th>
		      <th>Rest</th>
		    </tr>
		  </thead>
		  <tbody>
	  		<%= f.fields_for :steps %>
	  	  </tbody>
		</table> 
	<% end %>
  <div class="actions">	
	<% if !@disabled_mode %>	  	
	    <%= f.submit %>
	<% end %>
  </div>
<% end %>
