<tr>
	<td><%= f.text_field :name %></td>
	<td><%= f.text_field :notes %></td>
	<td><%= f.text_field :times %></td>
	<td><%= f.text_field :distance %></td>
	<td><%= f.text_field :duration %></td>
	<td><%= f.text_field :pace %></td>
	<td><%= f.text_field :rest %></td>
	<td><%= f.link_to_remove "remove" %></td>
</tr>
