<div id="header">
	<div id="header1">
		<%= link_to image_tag("hermes-logo.png", :id => "logo"), "#"  %>
		<h1 <a href="#">Hermes</a></h1>
		<p id="subtitle">Managing Workout Plans for Running Groups</p>		
	</div><!-- header1 -->
	<div id="header2">
		<div id="menu">
			<%= nav_links %>
		</div>
		<div id="search">
			<%= form_tag("#", id:"search", method: "get") do %>
	  			<%= text_field_tag(:searchtext) %>
	  			<%= submit_tag("Search", class:"submit") %>
			<% end %>
		</div>
	</div><!-- header2 -->
</div><!-- header -->